/* Global */
* {
    box-sizing: border-box;
}
 
body,
html {
    height: 100%;
    min-height: 100%;
}

.title {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}

h2 {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    max-width: 900px;
    text-align: center;
    margin-top: 100px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
 
h5 {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    max-width: 900px;
    text-align: center;
    margin-top: 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    background-color: #32312C;
}

.border {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    max-width: 400px;
    text-align: center;
    margin-top: 100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: solid 1px #cfd8e4;
    padding: 6px;
}

.noBorder {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    text-align: center;
    margin-top: 100px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.candleMinutes {
    size: 2px;
}

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}