/* Global */
* {
    box-sizing: border-box;
}
 
body,
html {
    height: 100%;
    min-height: 100%;
}

.title {
    font-size: 18px;
    margin: 0;
    color: #5e6977;
}

h2 {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    max-width: 900px;
    text-align: center;
    margin-top: 100px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
 
h5 {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    max-width: 900px;
    text-align: center;
    margin-top: 0px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

body {
    font-family: 'Roboto',
    sans-serif;
    margin: 0;
    background-color: #32312C;
}

#Main {
    background-image: url('/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    max-width: 800px; /* Set a specific width */
    display: block;
    margin: 0 auto;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#list {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #list li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #list li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
    

.border {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    max-width: 400px;
    text-align: center;
    margin-top: 100px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    border: solid 1px #cfd8e4;
    padding: 6px;
}

.noBorder {
    font-family: 'Roboto',
    sans-serif;
    align-content: center;
    text-align: center;
    margin-top: 100px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.candleMinutes {
    size: 2px;
}

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
}

.app-icons {
    display: flex;
    align-items: center;
}

.android {
    width: 150px;
}

.apple {
    width: 164px;
}